<aside class="sidebar">
    <div class="sidebar-brand">
        <div class="sidebar-brand-mark">EP</div>
        <div class="sidebar-brand-text">
            <strong data-company-name>Estoque Pro</strong>
            <span data-company-email>contato@estoquepro.com</span>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="produtos.html">Produtos</a></li>
            <li><a href="cadastro.html">Cadastro</a></li>
            <li><a href="estoque.html">Estoque</a></li>
            <li><a href="vendas.html">Vendas</a></li>
            <li><a href="clientes.html">Clientes</a></li>
            <li><a href="fornecedores.html">Fornecedores</a></li>
            <li><a href="relatorios.html">Relatórios</a></li>
            <li><a href="configuracoes.html">Configurações</a></li>
        </ul>
    </nav>
    <div id="sidebarUserInfo" class="sidebar-user-info"></div>
    <button id="logoutButton" type="button" class="sidebar-logout">Sair</button>
</aside>
